<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm-4">
            <h1>Course Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{course.avaUrl || '../../../../../assets/background.png'}}" alt="{{course.name}}">
                <div class="card-body">
                    <div>
                        <strong>Name: </strong>
                        <p>{{course.name}}</p>
                    </div>
                    <div>
                        <strong>Created Date: </strong>
                        <p>{{course.createdAt | date: "mediumDate"}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button *ngIf="!isTeacher()" [disabled]="isEnrolled()" class="btn btn-success btn-block" (click)="enroll(course.courseId)">Enroll</button>
                    <button *ngIf="isTeacher()" class="btn btn-success btn-block" (click)="toEdit()">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Course Info">
                        <h4>Requirement</h4>
                        <ul *ngFor="let requirement of requirements">
                            <li>{{requirement}}</li>
                        </ul>
                        <h4>Description</h4>
                        <ul *ngFor="let description of descriptions">
                            <li>{{description}}</li>
                        </ul>
                    </tab>
                    <tab *ngIf="isTeacher()" heading="Videos">
                        <div *ngFor="let video of videos" class="row">
                            <div class="col-sm-10" style="text-overflow: ellipsis">
                                <a class="overflow-auto" href="{{video.publicId}}" (click)="videoPlayTab(video.videoUrl)">{{video.publicId}}</a>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>