<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm-4">
            <h1>Course Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{course.avaUrl}}" alt="{{course.name}}">
                <div class="card-body">
                    <div>
                        <strong>Name: </strong>
                        <p>{{course.name}}</p>
                    </div>
                    <div>
                        <strong>Created Date: </strong>
                        <p>{{course.createdAt | date: "mediumDate"}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button *ngIf="!isTeacher()" [disabled]="!loggedIn()" class="btn btn-success btn-block">Enroll</button>
                    <button *ngIf="isTeacher()" class="btn btn-success btn-block" (click)="toEdit()">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Course Info">
                        <h4>Requirement</h4>
                        <div *ngIf="requirements.toString() !== ''">
                            <ul *ngFor="let requirement of requirements">
                                <li>{{requirement}}</li>
                            </ul>
                        </div>
                        <div *ngIf="requirements.toString() === ''">
                            <p>No Requirement</p>
                        </div>
                        <h4>Description</h4>
                        <div *ngIf="descriptions.toString() !== ''" class="mt-2 mb-2">
                            <ul *ngFor="let description of descriptions">
                                <li>{{description}}</li>
                            </ul>
                        </div>
                        <div *ngIf="descriptions.toString() === ''" class="mt-2 mb-2">
                            <p>No Description</p>
                        </div>
                    </tab>
                    <tab *ngIf="loggedIn()" heading="Videos">
                        <app-video-edit [courseId]="course.courseId" [videos]="course.videos"></app-video-edit>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>