<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm-4">
            <h1>Course Profile</h1>
        </div>
        <div class="col-sm-8">
            <div *ngIf="editForm.dirty" class="alert alert-info">
                <strong>Information: </strong>You have made changes. Any unsaved changes will be lost!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{course.avaUrl || '../../../../../assets/background.png'}}" alt="{{course.name}}">
                <div class="card-body">
                    <div>
                        <strong>Name: </strong>
                        <p>{{course.name}}</p>
                    </div>
                    <div>
                        <strong>Created Date: </strong>
                        <p>{{course.createdAt | date: "mediumDate"}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row"><button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button></div>
                    <div class="row mt-2 pt-2"><button class="btn btn-danger btn-block" (click)="deleteCourse()">Delete Course</button></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Edit Course">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateCourse()">
                            <h4>Requirement</h4>
                            <textarea name="introduction" rows="6" class="form-control" [(ngModel)]="course.requirement"></textarea>
                            <h4>Description</h4>
                            <textarea name="lookingFor" rows="6" class="form-control" [(ngModel)]="course.description"></textarea>
                        </form>
                    </tab>
                    <tab heading="Edit Photo">
                        <app-photo-editor [course]="course"></app-photo-editor>
                    </tab>
                    <tab heading="Edit Video">
                        <app-video-edit [videos]="course.videos" [courseId]="course.courseId"></app-video-edit>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>